<% provide(:title, 'View Groups') %>
<% @OutputName = [] %>
<% @OutputName = @user.name.split(" ") %>
<h1><%= "#{@OutputName[0]}'s" %> Groups</h1>
<br>
<br>
<div class="center hero-unit">
	<table align="center">
		<col>
		<col width="25">
		<col>
		<col width="25">
		<col>
		<col width="25">
		<col>
		<tr>
			<th>Group name</th>	
		</tr>
		<% @row_iterator.each do |row| %>
	     	<tr>
	     		<td>
			     	<% if row.group_name == "default" %>
						All Contacts
					<% else %>
						<%= row.group_name %>
					<% end %>
		        </td>
		        <td></td>
		        <td>
		        	<%= link_to 'View Group', group_path(id: @user.id, group_name: row.group_name), class: "btn btn-small btn-primary" %>
		        </td>
		       <% if row.group_name != "default" %>
			        <td></td>
			        <td>
			        	<%= link_to 'Delete group', delete_group_path(user_id: @user.id, id: @group_locator), class: "btn btn-small btn-primary" %>
			        </td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<br>
</div>
<%= link_to 'Create new Group', add_group_path(@user), class: "btn btn-med btn-primary" %>
