<% provide(:title, "#{@viewname} Members") %>
<div align="right">
	<%= link_to "Back to groups", groups_path(@user), class: "btn btn-small btn-primary" %>
</div>
<% if @viewname == "default" %>
	<h1>Showing All Contacts</h1>
<% else %>
	<h1>Members of <%= @viewname %> Group</h1>
<% end %>
<% @email_list = [] %>
<div class="center hero-unit">

	<table align="center">
		<col>
		<col width="25">
  		<col>
		<tr>
		    <th>Contact name</th>
		    <th></th>
		    <th>Contact email address</th>
		</tr>
		<% @user.contacts.each do |contact| %>
			<% if contact.group_name == @viewname %>
				<tr>
			    	<td><%= contact.name %></td>
			    	<td></td>
			    	<td><%= contact.email %></td>
			    	<td><%= link_to 'Remove from group', remove_group_member_path(user_id: @user.id, id: contact.id), data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-primary" %></td>
			  	</tr>
				<% @group_locator = contact.id %>
				<% @email_list.push(contact.email) %>
		    <% end %>
		<% end %>
	</table>
	<br>
	<br>
</div>


<br>
<br>
<br>
<table align="center">
	<col>
	<col width="25">
	<col>
	<col width="25">
	<col>
	<col width="25">
	<col>
	<% if @viewname == "default" %>
		<tr>
			<td>
				<%= link_to "New Contact", new_user_contact_path(@user), class: "btn btn-med btn-primary" %>
			</td>
			<td></td>
			<td>
				<a href="mailto:<% @email_list.each do |address| %><%= address %>;%20<% end %>?Subject=<%= @viewname %>%20-%20" target="_top" class="btn btn-primary">Send E-Mail <i class="icon-white icon-envelope"></i></a>
			</td>
		</tr>
	<% else %>
		<tr>
	    	<td><%= link_to 'Add contact to group', add_group_member_path(group_name: @viewname), class: "btn btn-med btn-primary" %></td>
	    	<td></td>
	    	<td><%= link_to 'New contact', new_group_path(@user, group_name: @viewname), class: "btn btn-med btn-primary" %></td>
	    	<td></td>
	    	<td>
				<a href="mailto:<% @email_list.each do |address| %><%= address %>;%20<% end %>?Subject=<%= @viewname %>%20-%20" target="_top" class="btn btn-primary">Send E-Mail <i class="icon-white icon-envelope"></i></a>
			</td>
	    	<td></td>
	    	<td><%= link_to 'Delete group', delete_group_path(user_id: @user.id, id: @group_locator), class: "btn btn-med btn-primary" %></td>
	  	</tr>
  	<% end %>
</table>


