<h2>Unsubscribe from mailing lists from <br>
	<%= @user.name %></h2>
	<br>
<% provide(:title, 'Unsubscribe from a mailing list') %>
	<%= form_tag("/unsubscribe_from?id=#{@user.id}", method: "get") do %>
	<%= label_tag(:email, "Enter your Email:") %>
	<%= text_field_tag(:email) %>
	<%= hidden_field_tag(:id, @user.id) %>
	<br>
	<%= submit_tag("Show subscriptions", class:"btn btn-primary") %>

<% end %>
