<% provide(:title, 'Change password') %>
<h1>Change password</h1>
<br>
<br>
<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<br>
<div class="center hero-unit">
	<%= form_for :user, url: change_password_confirm_path(id: @user.id), method: :patch do |f| %>

		<%= f.label "Current password" %>
		<%= f.password_field :old_password %>
		<br>
		<%= f.label "New password" %>
		<%= f.password_field :password %>
		<br>
		<%= f.label "Confirm new password" %>
		<%= f.password_field :password_confirmation %>
		<br>
		<%= f.submit "Change password", class: "btn btn-small btn-primary" %>
	<% end %>
</div>