<title><%= @user.name %></title>
<% @OutputName = [] %>
<% @OutputName = @user.name.split(" ") %>
<h2>Welcome <%= @OutputName[0] %></h2>
<br>
<br>
<br>
<h4>Contacts</h4>
<% @user.contacts.each do |contact|%>
	<% if contact.group_name == "default" %>
			<div class="row">
        		<div class="col-md-4"><%= contact.name  %></div>
        		<div class="col-md-8"><%= contact.email %></div>
      		</div><br>
	<% end %>
<% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to 'View groups', groups_path(@user) %>