<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        

          <div class="nav-collapse collapse">
            <% if signed_in? %>
              <a href="#" class="brand">Methods Mail</a>
            <% else %>
            <ul class="nav">
              <li class="brand"><%= link_to "Methods Mail", root_path %></li>
            </ul>
            <% end %>
            <ul class="nav pull-right">
            <% if signed_in? %>
              <li><%= link_to "Home", current_user %></li>
              <li><%= link_to "New Contact", new_user_contact_path(@user) %></li>
              <li><%= link_to "New Group Contact", new_group_path(@user) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
              <!-- /.add in ability to add yourself to a mailing list  -->
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Register", new_user_path %></li>
            <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>