<!DOCTYPE html>
<html land="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="/bootstrap-3.2.0/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap-3.2.0/docs/examples/grid/grid.css" rel="stylesheet">
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if !signed_in? %>
      <div class="container">
        <div class="center hero-unit">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="container">
        <div class="center">
          <%= yield %>
        </div>
      </div>
    <% end %>
    
  </body>
  <%= render 'layouts/footer' %>
</html>
