<!DOCTYPE html>
<html land="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if !signed_in? %>
      <div class="container">
        <div class="center hero-unit">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="container">
        <div class="center">
          <%= yield %>
        </div>
      </div>
    <% end %>
    
  </body>
  <%= render 'layouts/footer' %>
</html>
